@model WebProject.Models.Vehicle.PassengerCar
@{
    ViewData["Title"] = "Details";
}
@section styles { 
    <link asp-href-include="~/css/details.css" rel="stylesheet" asp-append-version="true"  />
}
<div class="details" style="padding:2%;">
    <h1>Владелец:@Model.User.UserName</h1><br/>
    <p>Номер телефона:@Model.User.PhoneNumber</p><br />
    <p>Локация:@Model.User.Location</p><br/>
    <div class="line"></div><br/>
    @if (Model.Image != null)
    {
        <img class="img_list" src="data:image/jpeg;base64,@(Convert.ToBase64String(Model.Image))" />
    }
</div>

