
    <div class="flex_element">
        <div class="nav-menu">
            <a asp-action="Index" asp-controller="Home" class="my_page">Моя страница</a>
            <a asp-action="List" asp-controller="Home" class="advs">Объявления</a>
        </div>
        <div class="flex-header">
            <h1>Покупка и Продажа Автомобилей</h1>
        </div>
    </div>