<form method="get" asp-action="List">
    <div class="search_box">
        <div class="center">
            <div>
                <input class="search" type="text" name="search" placeholder="Search..." />
            </div>
            <div>
                <button class="btn_search" type="submit">Искать</button>
            </div>
        </div>
    </div>
</form>

